body {
    background:#CAE0EB;
}

.brand__img {
    width: 35px;
}

.brand__text {
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}

.menu {
    display: flex;
    justify-content: end;
}

.menu__item {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 35px;
    font-weight: bold;
    font-size: 14px;
}

button {
    border-radius: 8px;
}
.text-left {
    font-size: 55px !important;
    font-weight: bold;
}

.text-right-top {
    background: white;
    color: blue;
    display: inline;
    padding: 5px;
}
.video {
    width: 100%;
    border-radius: 12px;
}
.info h3{
    color: blue;
    font-weight: bold;
    font-size: 35px;
    margin-top: 70px;
}
.info {
    padding-left: 0;
    margin-left: -30px;
}
